.container {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    justify-content: center;
    
}

.title {
    text-align: start;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #0A1930;
}

.body {
    text-align: start;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.19px;
    color: #191C1F;
}

@media screen and (max-width: 600px) {
    .container {
        align-items: flex-start;
        width: 100%;
        justify-content: flex-start;
        gap: 12px;
    }

    .title {
        max-width: 75%;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    .body {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }
}