
.imageContainer {
    /* width: 405.33px; */
    width: 100%;
    /* height: 364.8px; */
    border-radius: 15px;
    border: 0px 0px 4px 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.image {
    width: 100%;
}


.textContainer {
    margin-top: 36.5px;
}
.textContainer .title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.4px;
}
.textContainer .subtitle {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.7px;
    color: #022B69;
    line-height: 30.8px;
    margin: 12.5px 0;
}
.textContainer .time {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.7px;
    color: #7f8d99;
    line-height: 24.5px;
}

@media screen and (max-width: 600px) {
    .imageContainer  {
        width: 170px;
        height: 170px;
    }

    .textContainer {
        margin-top: 16.5px;
    }
    
    .textContainer .title {
  
    }
    .textContainer .subtitle {
        font-size: 12px;
        margin: 0;
        line-height: 14px;
    }
    .textContainer .time {
        font-size: 8px;
    }
}


@media screen and (max-width: 1024px) {
    .textContainer .subtitle {
        font-size: 18px;
        line-height: 25px;
    }
    .imageContainer {
    }
}

@media screen and (max-width: 768px) {
    .textContainer .subtitle {
        margin: 0;
        font-size: 16px;    
    }
}

@media screen and (max-width: 480px) {
    .textContainer .subtitle {
        font-size: 12px;
        letter-spacing: -0.2px;
    }
}