.faq {
  min-height: 100vh;
  padding-top: 3em;
  display: flex;
  align-items: center;
}
.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  margin-bottom: 20px;
  border: 1px solid #dadada;
  background: #fafafa;
}

.accordion {
  margin-bottom: 2em;
  > .card {
    background-color: #fafafa;
    border-radius: 5px !important;
    min-height: 70px;
    > .card-header {
      background-color: #fafafa;
      border-bottom: none !important;
      padding: 0;
      .accord-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5em;
        height: 70px;
        background-color: #fafafa;
        border: none !important;
        color: #636769;
        font-weight: 600;
        font-size: 0.88em;
        > * {
          transition: .3s ease-in-out;
        }
        .toggle-accordion {
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          &::before {
            transition: .4s ease-in-out;
            content: '\002D';
            font-size: 24px;
          }
        }
        &[aria-expanded='true'] {
          color: $primary-color;
          font-size: 1em;
          .toggle-accordion {
            transform: rotate(360deg);
            &::before {
              content: "\002B";
            }
          }
        }

      }
    }
    .card-body {
      font-size: 14px;
      font-weight: 300;
      color: #181D29;
      padding-top: 0;
    }
  }
}
