button {
  &.btn {
    height: 45px;
    font-size: 14px;
    padding: 0 2em;
    border: none !important;
    transition: $transition;
    // min-width: 180px;
    box-shadow: none !important;
    &.btn-primary {
      background-color: $primary-color;
      &:active {
        background-color: $primary-color !important;
      }
    }
    &:hover {
      padding: 0 2.3em;
    }
  }
}
.btn-set {
  margin: 2em 0 1em;
  width: 100%;
  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}