.form-group {
  label {
    color: #24312a;
    font-size: 14px;
    font-weight: 300;
  }
  .form-control {
    box-shadow: none !important;
    border: 1px solid #d9dde2 !important;
    font-size: 14px;
    height: 45px;
    padding: 0 1.5em;
    font-weight: 300;
    border-radius: 6px;
  }
}
.custom-label {
  font-size: 1em;
  color: $primary-color;
  margin-bottom: 1em;
}
.wrap-checker {
  display: flex;
  align-items: center;
  padding: 10px 1em;
  border-radius: 6px;
  border: 1px solid #d9dde2;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  .custom-radio-view {
    width: 48%;
    margin: 5px 1%;
    display: flex;
    align-items: center;
    height: 42px;
    border-radius: 6px;
  }
  label {
    position: relative;
    color: #979999;
    border: #d9dde2 solid 1px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
    input {
      margin-right: 10px;
    }
  }
}
form {
  .custom-check-view {
    display: flex;
    align-items: center;
    margin-top: 1em;
    label {
      font-size: 14px !important;
      color: #878a98;
      margin: 0;
    }
    input[type="checkbox"],
    input[type="radio"] {
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      margin-right: 15px;
      width: 15px;
      height: 15px;
    }
  }
}
.alert.alert-danger {
  font-size: 12px;
  transition: 0.4s ease-in-out;
  margin-top: 10px;
}
.errors {
  font-size: 12px;
  font-weight: 300;
  color: red;
}
.completed-off {
  display: none !important;
}
.completed {
  background-image: url('../img/succes-bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  .custom-chart-view {
    transform: rotate(315deg);
  }
}
.custom-chart-view {
  width: 210px;
  height: 210px;
  border-top: 1px solid #233c8b;
  border-right: 1px solid #233c8b;
  border-left: 1px dashed #233c8b;
  border-bottom: 1px dashed #233c8b;
  border-radius: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 3em auto;
  overflow: hidden;
  position: relative;
  transform: rotate(-45deg);
  .overlay-white {
    position: absolute;
    width: 100%;
    height: 70%;
    left: 0;
    top: 31%;
    display: flex;
    background: linear-gradient(0deg, #fff 68%, rgba(250, 250, 250, 0.4) 96%);
    z-index: 1;
  }
  h4 {
    font-weight: 600;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: relative;
  }
  .chart-inner-view {
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.success-info-wrapper {
  text-align: center;
  padding: 0 20%;
  transition: .5s ease-in-out;
  > * {
    color: $primary-color;
  }
  h2 {
    font-weight: 600;
    margin: 1.5em 0 1em;
    
  }
  p {
    margin: 1em 0;
  }
  .copy-code {
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.09);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    border-radius: 6px;
    margin-top: 1em;
    .btn {
      width: 90px;
      height: 40px;
      margin-left: 10px;
    }
  }
}
.count-view {
  color: $primary-color;
  z-index: 1;
}
.custom-stecs-form {
  input {
    width: 100%;
    box-shadow: none !important;
    border: 1px solid #d9dde2 !important;
    font-size: 14px;
    height: 45px;
    padding: 0 1.5em;
    font-weight: 300;
    border-radius: 6px;
    margin-bottom: 1em;
  }
  .msg-alert{
    font-size: 12px;
  }
  button {
    width: 190px;
    height: 40px;
    box-shadow: none;
    border-radius: 6px;
    background-color: $primary-color;
    color: $white;
    border: none !important;
  }
}