/* Miltin */
.-icon {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  i {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.zero-interest-icon {
  background-image: url('../img/zero-interest.svg');
}
.budgeting-icon {
  background-image: url('../img/budget-icon.svg');
}
.earn-competitive-return-icon {
  background-image: url('../img/earn-competitive-return-icon.svg');
}
.real-time-notification-icon {
  background-image: url('../img/real-time-notification-icon.svg');
}
.card-security-icon {
  background-image: url('../img/card-security-icon.svg');
}
.zakat-calculator-icon {
  background-image: url('../img/zakat-calculator-icon.svg');
}
.checker-icon {
  background-image: url('../img/checker-icon.svg');
}

.simplify-icon {
  background-image: url('../img/simplify-icon.svg');
}
.transparency-icon {
  background-image: url('../img/transparency-icon.svg');
}
.education-icon {
  background-image: url('../img/education-icon.svg');
}
.control-icon {
  background-image: url('../img/control-icon.svg');
}
.satisfactory-icon {
  background-image: url('../img/satisfactory-icon.svg');
}

.facebook-icon {
  background-image: url('../img/facebook-icon.svg');
}
.instagram-icon {
  background-image: url('../img/instagram-icon.svg');
}
.linkedin-icon {
  background-image: url('../img/linkedin-icon.svg');
}
.twitter-icon {
  background-image: url('../img/twitter-icon.svg');
}