@media (max-width: 991px) {
}
@media (max-width: 686px) {
  .row {
    &.reversed {
      flex-direction: column-reverse;
    }
  }
  .banner-info {
    background: linear-gradient(257deg, rgba(250, 250, 250, 0.2), rgba(250, 250, 250, 0.2), transparent);
    z-index: 5;
    position: relative;
    padding: 4em 0;
    top: -20px;
    h1 {
      font-size: 2em;
    }
  }
  .custom-banner-wrapper {
    .banner-img {
      right: 0;
    }
  }
  .custom-m-view {
    display: none;
  }
  .section-view.about {
    .section-title {
      margin-bottom: 0em;
    }
  }
  .section-info-wrapper {
    padding: 4em 0em;
    &::before {
      width: 400px;
      height: 400px;
    }
  }
  .wrap-stecs-item {
    padding: 1em 0 2em;
  }
  .savings,
  .insight {
    .image-cap {
      height: 250px;
      width: 100%;
      margin: 3em 0 1em;
    }
  }
  .infor-content {
    &.r,
    & {
      padding: 1em 0 3em;
    }
    &.no-padding {
      text-align: center;
      padding: 2em 0;
    }
  }
  .wrap-checker{
    label {
      font-size: 12px;
      padding: 0 0 0 15px;
    }
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 95%;
  }
}
