$primary-color: #233D8C;
$secondary-color: #4E4741;
$heading-color: #47403b;
$light-text: #8B909B;
$text-default-color: #101216;
$border-color: #E3E3E3;

$white: #ffffff;
$black: #000000;
$transition: 0.2s ease-in-out;
$title-color: #4E4741;
$gray-bg: #F9F9F9;

/* Section colors */
$heading-title: #233C8B;
$sub-heading-color: #293C88;
$accordion: #636769;
$custom-color: #230D0D;
$copyright: #484D57;
$icon-wrapper: #E2E5F0;

// Form Colors 
$label-color: #979999;
$form-headings: #293C88;

/* Font sizes */
$font-small: 10px;
$font-medium: 12px;
$font-large: 16px;

/* Font family */
$primary-font : "Poppins", sans-serif;
$secondary-font: 'Roboto', sans-serif;