.widthEnforcer {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero {
    padding: 94px 50px 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero .big {
    font-size: 53px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    color: #1F1F1F;
}

.hero .small {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #696969;
    margin-top: 15px;
    margin-bottom: 41px;
    max-width: 642px;
}

.sectionOne {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 170px;
}

.sectionOne .flexbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sectionOne .flexbox .imageDiv {
    min-width: 50%;
    height: 330px;
    border-radius: 4px;
    position: relative;
}

.sectionOne .flexbox .imageDiv.green {
    background: #EAF6EA;
}

.sectionOne .flexbox .imageDiv.pink {
    background: #FFFAEB;
}

.sectionOne .flexbox .imageDiv img {
    position: absolute;
    bottom: 0;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
}

.sectionOne .flexbox .imageDiv.pink img{
    width: 250px;
}

.sectionTwo {
    padding: 90px 0 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 94px;
}

.sectionTwo .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.sectionTwo .texts .big {
    font-style: normal;
    font-weight: 700;
    font-size: 57px;
    line-height: 54px;
    color: #011B33;
}

.sectionTwo .texts .small {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.2px;
    color: #191C1F;
}

.sectionTwo .cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}


@media screen and (max-width: 600px) {
    .hero {
        padding: 87px 26px 91px;
    }

    .hero .big {
        font-style: normal;
        font-size: 27px;
        font-weight: 700;
        line-height: 120%;
        text-align: center;
        color: #1F1F1F;
        max-width: 326px;
    }

    .hero .small {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        letter-spacing: -0.01em;
        color: #696969;
        max-width: 326px;
    }

    .sectionOne, .sectionTwo {
        padding: 0 23px 70px;
        gap: 90px;
    }

    .sectionOne .flexbox {
        flex-direction: column;
        justify-items: start;
        gap: 51px;
    }

    .sectionOne .flexbox .imageDiv {
        min-width: 100%;
        height: 218px;
        border-radius: 2.25907px;
    }

    .sectionOne .flexbox .imageDiv.green img {
        width: 252px;
        height: auto;
    }

    .sectionOne .flexbox .imageDiv.pink img {
        width: 177px;
        height: auto;
    }

    .sectionTwo {
        gap: 40px;
    }

    .sectionTwo .texts {
        gap: 8px;
        justify-content: center;
        align-items: center;
    }

    .sectionTwo .texts .big {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
    }

    .sectionTwo .texts .small {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        max-width: 325px;
        text-align: center;
    }

    .sectionTwo .cards {
        gap: 25px;
    }

}