.container {
    padding: 112px 0 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.widthEnforcer {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 57px;
}

.image {
    background: #2AAEDF;
    border-radius: 5px;
    width: 100%;
    height: 350px;
    position: relative;
}

.image img {
    position: absolute;
}

.img1 {
    left: 50%;
    transform: translateX(-220%);
    bottom: 0;
    width: 204.5px;
}

.img2 {
    left: 50%;
    transform: translateX(-130%);
    bottom: 0;
    width: 204px;
}

.img3 {
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
    width: 230px;
}

.img4 {
    left: 50%;
    transform: translateX(13%);
    bottom: 0;
    width: 230px;
}

.img5 {
    left: 50%;
    transform: translateX(100%);
    bottom: 0;
    width: 224.85px;
}


.texts {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    align-items: flex-start;
}

.texts p {
    text-align: start;
}

.header {

    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #090A0B;
}

.body {
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #7E8186;
}

.button {
    margin-top: 39px
}

.buttonText {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 30px 24px 155px;
        gap: 63px;
    }

    .image {
        height: 150px;
        width: 100%;
        overflow: hidden;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5 {
        width: 100px;
        height: auto;
    }


    .texts {
        padding: 0;
    }

    .header {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }

    .body {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }

    .button {
        margin-top: 23px;
    }
}


/* 
.loginFormWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.welcomeImage {
    width: 768px;
    position: absolute;
    top: -50px;
    z-index: -1;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 32px;
    line-height: 24px;
}

.header p {
    font-size: 16px;
    color: #475467;
}

.formContainer {
    margin-top: 32px;
}

.inputField {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.inputField label {
    margin-bottom: 6px;
}

.inputField input {
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.eyeIcon {
    position: absolute;
    right: 20px;
    bottom: 12px;
}

.reminderContainer {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.reminder {
    font-size: 14px;
    color: #818688;
    margin-left: 8px;
}

.formButton {
    background-color: #2BAEDF;
    border-radius: 16px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 13.5px 148.5px;
    border: 0;
}

.loginLinkMessage {
    margin-top: 24px;
    color: #818688;
}

.loginLinkMessage span {
    color: #2BAEDF;
    font-size: 14px;
} */
