.container {
    width: 30%;
    height: 411px;
    position: relative;
    border-radius: 9.791px;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 31px 96px 0 20px;
}

.texts p {
    text-align: start;
}

.texts .big {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #1F1F1F;
}

.texts .small {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%; 
    color: #647D7E;
}

.container img {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        height: 330px;
    }

    .texts {
        gap: 10.5px;
        padding: 25px 77px 0 16px;
    }

    .texts .big {
        font-weight: 700;
        font-size: 25.6946px;
        line-height: 100%;
    }

    .texts .small {
        font-weight: 400;
        font-size: 12.8473px;
        line-height: 140%;
    }

    .container img {
        width: 150px;
        height: auto;
    }
}