.myButton {
    all: unset;
    background: #2BAEDF;
    padding: 16px 70px;
    color: #fff;
    font-size: 18;
    border-radius: 16px;
    text-decoration: none;
    margin-right: 20px;
}

.myButton a {
    color: #fff;
}

.signUpButton {
    border: 1px solid #233C8B;
    background: transparent;
    color: #233C8B;
    text-decoration: none;
}