.body {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 140px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-align: start;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

.listItem {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 820px) {
    .body {
        gap: 5px;
    }
}

@media screen and (max-width: 600px) {
    .body {
        gap: 16px;
    }
}