.container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  background: #000000;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.card {
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  opacity: 1;
  flex-direction: column;
  /* padding: 43px 69px; */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10001;
  position: absolute;
  top: 60px;
}
@media screen and (max-width: 768px) {
}

.cardBody {
  padding: 43px 69px;
}
@media screen and (max-width: 768px) {
  .cardBody {
    padding: 10px;
  }
}

@media screen and (max-width: 819px) {
  .cardBody {
    padding: 23px 39px;
  }
}

.cardHeader {
  text-align: center;
  color: #191c1f;
  margin-bottom: 24px;
}

h1 {
  font-size: 53px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.1px;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 820px) {
  h1 {
    font-size: 28px;
  }
}

.subText {
  color: #696969;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.125px;
}

.cardImageContainer {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 14px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .cardImageContainer {
    flex-direction: column;
    gap: 20px;
  }
}

.iosText {
  /* color: #696969; */
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.125px;
  padding-bottom: 10px;
}

.iosQr {
  width: 150px;
}
.androidText {
  padding-bottom: 10px;
  /* color: #696969; */
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.125px;
}

.androidQr {
  width: 150px;
}

.iosBarcodeContainer {
}

.cardText {
  /* text-align: center;
  font-weight: 500;
  line-height: 28px; */
  margin-bottom: 24px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.decorated {
  overflow: hidden;
  text-align: center;
}
.decorated > span {
  position: relative;
  display: inline-block;
}
.decorated > span:before,
.decorated > span:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 2px solid;
  width: 591px;
  margin: 0 20px;
  color: #f0f0f0;
}
.decorated > span:before {
  right: 100%;
}
.decorated > span:after {
  left: 100%;
}

span {
  font-size: 20px;
  letter-spacing: -0.125px;
  color: #696969;
}

.cardForm {
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 14px;
  width: 100%; */
}

@media screen and (max-width: 768px) {
}

.cardLabel {
  padding: 6px;
  border-radius: 8px;
  background: #f9f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.22px;
  max-width: 112px;
  width: 100%;
}
.flag {
  width: 20px;
  margin-top: 9px;
}

.labelText {
  color: #191c1f;
  font-size: 13px;
  font-weight: 500;
}

.input {
  border-radius: 8px;
  background: #f9f9fa;
  padding: 16px;
  border: 0;
  font-size: 13px;
  width: 100%;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #75808a;
}

a {
  text-decoration: none;
}

.btn {
  margin: auto;
  border-radius: 5.7px;
  background: #2aaedf;
  /* background: #2e71d6; */
  display: flex;
  width: 100%;
  border: 0;
  padding: 15.96px 34.2px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn:hover {
  background: rgb(82, 208, 254);
  transition: 0.3s ease-in;
}

.btnText {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.card .bigText {
  /* font-style: normal;
  font-weight: 700;
  font-size: 53px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #191c1f;
  opacity: 1;
  margin-bottom: 16px; */
}

/* .card .smallText {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    letter-spacing: -0.125px;
    color: #696969;
    margin-bottom: 24px;
}

.card .qr {
    margin-bottom: 30px;
    text-align: center;
}

.form {
    display: flex;
    padding: 0 22px;
    gap: 8px;
    align-items: center;
}

.form .countryCode {
    display: flex;
    gap: 6px;
    padding: 20px 39px 17px 16px;
    background: #F9F9FA;
    border-radius: 8px;
}

.form .countryCode p {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #191C1F;
}

.form input {
    padding: 18px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #191C1F;
    background: #F9F9FA;
    border-radius: 8px;
    border: none;
    width: 80%;
}

.form input::placeholder {
    color: #75808A;
}

.button {
    display: flex;
    gap: 12px;
    background: #2AAEDF;
    border-radius: 5.7px;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    margin: 14px 16px 0 16px;
}

.button p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
} */

.button {
  margin-top: 40px;
}

.card {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.buttonText {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .card {
    width: 325px;
    top: 70px;
    /* padding: 40px 24px; */
    text-align: center;
    border-radius: 12px;
  }

  .card > div {
    text-align: center;
  }

  .card .bigText {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 10px;
  }

  /* .card .smallText {
        font-weight: 500;
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 16px;
    }

    .card .qr {
        margin-bottom: 20px;
    }

    .card .qr img {
        width: 100px;
        height: auto;
    }

    .form {
        padding: 0 15px;
        gap: 4px;
        height: 31px;
    }

    .form .countryCode {
        padding: 0 10px;
        height: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        align-items: center;
    }

    .form .countryCode p {
        font-size: 10px;
        line-height: 18px;
    }

    .countryCode img {
        width: 10px;
        height: 10px;
    }

    .form input {
        height: 100%;
        padding: 0 8px;
        font-size: 12px;
        border-radius: 4px;
        line-height: 13px;
    }

    .button {
        padding: 8px 0;
    }

    .button p {
        font-size: 12px;
        line-height: 13px;
    }

    .button img {
        width: 15px;
        border-radius: 4px;
    }

    .active {
        color: red;
    } */

  .button {
    margin-top: 23px;
  }
}
