.sheriahContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentWrapper {

}
.textWrapper {
   margin: 40px 0;
}
.header {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #090A0B;
}
.imageContainer {
    width: 100%;

}
.buttonContainer {
    margin: 40px 0;
}

.joinButton {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 820px) {
    .sheriahImage{
        width: 700px;
 }
}

@media screen and (max-width: 600px) {
    .textWrapper {
        margin: 20px 0;
    }
    .header {
        font-size: 24px;
    }
    .imageContainer {
        width: 100%;
    }
    .sheriahImage{
        width: 100%;
 }
}


