@import "./assets/scss/variable";
@import "./assets/scss/mixins";
@import "./assets/scss/button";
@import "./assets/scss/nav";
@import "./assets/scss/icons";
@import "./assets/scss/accordion";
@import "./assets/scss/form";
@import "./assets/scss/pages";
@import "./assets/scss/footer";
@import "./assets/scss/mediaquery";

* {
  font-family: "Poppins", sans-serif;
  outline: none !important;
  transition: 0.4s ease-in-out;
}
body,
.body,
html {
  scroll-behavior: smooth;
}
.body {
  &::before {
    content: "";
    width: 200px;
    height: 800px;
    background-color: #ccc;
    position: absolute;
    top: 140%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    left: -120px;
    opacity: 0.1;
    animation: move 10s infinite;
  }
}
.body,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $white;
  main {
    flex: 1;
    min-height: 80vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
a {
  transition: $transition !important;
  &:hover {
    text-decoration: none !important;
  }
}

@keyframes move {
  0% {
    top: 140%;
  }
  50% {
    top: 220%;
  }
  100% {
    top: 140%
  }
}